body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0;
    padding: 20px;
}

/* Nền trắng bao quanh khu “Giá tốt mỗi ngày” */
#GT-container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin:  auto;
    padding: 40px 60px;
}

/* Tiêu đề */
#GT-products h2 {
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    position: relative;
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    width: 100%;
}

/* Danh sách sản phẩm */
#GT-list-products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 0 20px; /*10px dọc, 20px ngang */
    padding: 0;
    margin: 0;
}

#GT-list-products .GT-item {
    width: 200px;
    background: white;
    border-radius: 10px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hiệu ứng hover nhẹ */
#GT-list-products .GT-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Ảnh bo góc trên */
#GT-list-products .GT-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#GT-list-products .GT-item .name {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

#GT-list-products .GT-item .desc {
    text-align: center;
    color: black;
}

#GT-list-products .GT-item .price {
    text-align: center;
    font-weight: bold;
    color: rgb(245, 148, 33);
    margin-top: 10px;
}

#GT-list-products .GT-item .btn {
    display: block;
    margin: 10px auto 20px auto;
    color: white;
    background: #4ade80;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    transition: 0.2s;
}

#GT-list-products .GT-item .btn:hover {
    background: #22c55e;
}

#GT-list-products .desc {
    color: #333;
    font-size: 12px;
    padding: 0 5px;
}

#GT-list-products .desc .highlight {
    color: orange;
    font-weight: bold;
}

/* Nút xem tất cả */
.see-more {
    text-align: center;
    margin-top: 20px;
}

.see-more button {
    background-color: white;
    color: #166534;
    border: 1px solid #166534;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.see-more button:hover {
    background-color: #166534;
    color: white;
}
