
/* áº¢nh hero */
.post-hero {
    margin: 2rem 0;
    text-align: center;
}

.post-hero img {
    width: 100%;
    max-width: 1020px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post-hero figcaption {
    margin-top: 1rem;
    font-style: italic;
    color: #666;
    font-size: 25px;
}

