/* ====== TOC box ====== */
.toc{
  margin:16px auto;
  border:1px solid #e5e7eb;
  border-radius:8px;
  background:#f9fafb;
}
.toc_title{
  margin:0;
  padding:10px 12px;
  font-weight:700;
  border-bottom:1px solid #e5e7eb;
}
#toc_content{
  padding:10px 12px;
}

/* danh sách trong TOC */
#toc_content ul{
  list-style:none; /*bỏ dấu chấm mặc định*/
  margin:0;
  padding-left:0;
}
#toc_content li{ margin:6px 0; }

/* link trong TOC */
#toc_content a{
  color:#16a34a;
  text-decoration:none;
}
#toc_content a:hover{ text-decoration:underline; }/* khi di chuột qua link gạch chân để biết */

/* mục đang xem */
#toc_content li.active > a{
  font-weight:700;
  text-decoration:underline;
}

/* thụt lề mục con (h3) */
#toc_content ul ul{ margin-left:16px; }

/* cuộn mượt toàn trang */
html{ scroll-behavior:smooth; }
