body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.breadcrumb {
    padding: 10px 20px;
    color: #666;
    font-size: 16px;
}

.profile-container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    gap: 40px;
}

/* MENU TRÁI */
.profile-menu {
    width: 30%;
}

.profile-menu h2 {
    margin-bottom: 10px;
    color: #1b301b;
}

.highlight-name {
    color: green;
    font-weight: bold;
}

.profile-menu ul {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.profile-menu ul li {
    padding: 8px 0;
    cursor: pointer;
    color: #222;
}

.profile-menu ul li.active {
    color: green;
    font-weight: bold;
}

/* NỘI DUNG PHẢI */
.profile-info {
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 40px;
}

.profile-info h2 {
    color: #1b301b;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 10px 0;
    font-size: 16px;
}
